@{
    ViewBag.Title = "History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/sctd.somee.com/styles.css" rel="stylesheet" />
<script src="~/Scripts/sctd.somee.com/request.js"></script>

<div id="toolbar"></div>
<div id="gridView"></div>
