
@{
    ViewBag.Title = "MasterData";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/sctd.somee.com/SysAdmin/MasterData.js"></script>
<link href="~/Content/sctd.somee.com/styles.css" rel="stylesheet" />

<h2>MasterData</h2>
<div id="gridMasterData"></div>

