<link rel="stylesheet" href="~/Content/menu.css" />
<ul class="menu">
    <li><a href="#">Trang chính</a></li>
    <li>
        <a href="#s1">Kho</a>
        <ul class="submenu">
            <li><a href="/Home/Index">Dữ liệu kho (Tất cả)</a></li>
            <li><a href="#">Bình thường</a></li>
            <li><a href="#">Lỗi</a></li>
            <li><a href="#">Bị khóa</a></li>
            <li><a href="#">Không sử dụng</a></li>
        </ul>
    </li>
    <li class="active">
        <a href="#s2">Hệ thống</a>
        <ul class="submenu">
            <li><a href="#">Master Data</a></li>
            <li><a href="#">Nhập dữ liệu kho</a></li>
        </ul>
    </li>
    <li>
        <a href="#">Nhật ký</a>
        <ul class="submenu">
            <li><a href="#">Nhập dữ liệu</a></li>
            <li><a href="#">Xuất dữ liệu</a></li>
            <li><a href="/Home/wRequest">Yêu cầu trừ hàng</a></li>
        </ul>
    </li>
    <li><a href="#">Thông tin</a></li>
    <li class="pull-right"><a href="#">Login</a></li>
</ul>

@*<script src="~/Scripts/menu.js"></script>*@
@*<ul id="menu">
    <li>
        Men's
        <ul>
            <li>
                Footwear
                <ul>
                    <li>Leisure Trainers</li>
                    <li>Running Shoes</li>
                    <li>Outdoor Footwear</li>
                    <li>Sandals/Flip Flops</li>
                    <li>Footwear Accessories</li>

                </ul>
            </li>
            <li>
                Leisure Clothing
                <ul>
                    <li>T-Shirts</li>
                    <li>Hoodies &amp; Sweatshirts</li>
                    <li>Jackets</li>
                    <li>Pants</li>
                    <li>Shorts</li>
                </ul>
            </li>
            <li>
                Sports Clothing
                <ul>
                    <li>Football</li>
                    <li>Basketball</li>
                    <li>Golf</li>
                    <li>Tennis</li>
                    <li>Swimwear</li>
                </ul>
            </li>
            <li>
                Accessories
            </li>
        </ul>
    </li>
    <li>
        Women's
        <ul>
            <li>
                Footwear
                <ul>
                    <li>Leisure Trainers</li>
                    <li>Running Shoes</li>
                    <li>Outdoor Footwear</li>
                    <li>Sandals/Flip Flops</li>
                    <li>Footwear Accessories</li>

                </ul>
            </li>
            <li>
                Leisure Clothing
                <ul>
                    <li>T-Shirts</li>
                    <li>Jackets</li>
                </ul>
            </li>
            <li>
                Sports Clothing
                <ul>
                    <li>Basketball</li>
                    <li>Golf</li>
                    <li>Tennis</li>
                    <li>Swimwear</li>
                </ul>
            </li>
            <li>
                Accessories
            </li>
        </ul>
    </li>
    <li>
        Boy's
        <ul>
            <li>
                Footwear
                <ul>
                    <li>Leisure Trainers</li>
                    <li>Running Shoes</li>
                    <li>Outdoor Footwear</li>
                    <li>Sandals/Flip Flops</li>
                    <li>Footwear Accessories</li>
                </ul>
            </li>
            <li>
                Leisure Clothing
                <ul>
                    <li>T-Shirts</li>
                    <li>Hoodies &amp; Sweatshirts</li>
                    <li>Jackets</li>
                    <li>Pants</li>
                    <li>Shorts</li>
                </ul>
            </li>
            <li>
                Sports Clothing
                <ul>
                    <li>Football</li>
                    <li>Basketball</li>
                    <li>Rugby</li>
                    <li>Tennis</li>
                    <li>Swimwear</li>
                </ul>
            </li>
            <li>
                Accessories
            </li>
        </ul>
    </li>
    <li>
        Girl's
        <ul>
            <li>
                Footwear
                <ul>
                    <li>Leisure Trainers</li>
                    <li>Running Shoes</li>
                    <li>Fitness Trainers</li>
                    <li>Sandals/Flip Flops</li>
                    <li>Footwear Accessories</li>
                </ul>
            </li>
            <li>
                Leisure Clothing
                <ul>
                    <li>T-Shirts</li>
                    <li>Hoodies &amp; Sweatshirts</li>
                    <li>Jackets</li>
                    <li>Pants</li>
                    <li>Shorts</li>
                </ul>
            </li>
            <li>
                Sports Clothing
                <ul>
                    <li>Basketball</li>
                    <li>Tennis</li>
                    <li>Swimwear</li>
                </ul>
            </li>
            <li>
                Accessories
            </li>
        </ul>
    </li>
</ul>*@